<div class="container-fluid">
	<h1>EDUCACION</h1>
     <button type="button"class="btn btn-primary" routerLink="/agregar-educacion" *ngIf="isLogged">Agregar Educacion</button>
   
<div class="container mt-3">
  
  
  <div class="table-responsive-sm">
    <table class="table table-bordered">
      
	    <thead>
            <tr>
                <th scope="col">Titulo</th>
                <th scope="col">Fecha</th>
                <th scope="col">Descripción</th>
		<th scope="col">Imagen</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let educacion of lista">
                <td>{{educacion.titulo}}</td>
                <td>{{educacion.fecha}}</td>
                <td>{{educacion.descripcion}}</td>
		<td>{{educacion.imagen}}</td>
                <td *ngIf="isLogged">
                    <button class="btn btn-danger" (click)="eliminar(educacion.id)">Eliminar</button>
 <button class="btn btn-warning" routerLink="/editar-educacion/{{educacion.id}}"  >Modificar</button>
                </td>
            </tr>

        </tbody>
    </table>
  </div>
</div>
</div>

