
<div>

         <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
         
          <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Login</h3>
          <div class="form-outline mb-4">
            
	  <input type="email" id="nombreUsuario" name="nombreUsuario" class="form-control form-control-lg" [(ngModel)]="nombreUsuario" required />


            <label class="form-label" for="nombreUsuario">Usuario</label>
          </div>

         
          <div class="form-outline mb-4">
            
            <input type="password" id="password" name="password" class="form-control form-control-lg" [(ngModel)]="password" required />


	    <label class="form-label" for="password">Contraseña</label>
	  </div>

         

          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-lg btn-block">Ingresar</button>

          <div class="divider d-flex align-items-center my-4">
            
          </div>


        </form>
 


</div>
