<div class="container-fluid">
    <form action="">
        <label for="empresa">Empresa</label>
        <input type="text" id="empresa" name="empresa" [(ngModel)]="experienciaActual.empresa">
        <br>
        <label for="fechaInicioExp">Fecha Inicio</label>
        <input type="text" name="fechaInicioExp" id="fechaInicioExp" [(ngModel)]="experienciaActual.fechaInicioExp">
        <br>
         <label for="fechaFinExp">Fecha Desvinculacion</label>
        <input type="text" name="fechaFinExp" id="fechaFinExp" [(ngModel)]="experienciaActual.fechaFinExp">
        <br>
        <label for="descripcionExp">Descripcion</label>
        <input type="text" name="descripcionExp" id="descripcionExp" [(ngModel)]="experienciaActual.descripcionExp">
        <br>
        <label for="imagenExp">Imagen</label>
        <input type="text" name="imagenExp" id="imagenExp" [(ngModel)]="experienciaActual.imagenExp">

        <br>
<button class="btn btn-primary" (click)="guardad()">Guardar</button>
    </form>
    </div>


