<div class="container">
    <button class="btn btn-primary" [routerLink]="['/agregar-experiencia-richard']" routerLinkActive="router-link-active" >Agregar</button>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
		<th scope= "col">Empresa</th>
		<th scope="col">Fecha Inicio</th>
                <th scope="col">Fecha Fin</th>
		 <th scope="col">Descripcion</th>
		  <th scope="col">Imagen</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let experienciaRichard of experiencia">
		 
                <td>{{experienciaRichard.id}}</td>
		<td>{{experienciaRichard.empresa}}</td>
		<td>{{experienciaRichard.fechaInicioExp}}</td>
                <td>{{experienciaRichard.fechaFinExp}}</td>
		<td>{{experienciaRichard.descripcionExp}}</td>
		<td>{{experienciaRichard.imagenExp}}</td>
                <td>
            <button class="btn btn-danger" (click)="eliminar(experienciaRichard.id)">Eliminar</button>
	   <button class="btn btn-warning" [routerLink]="['/editar-experiencia-richard/',experienciaRichard.id]" routerLinkActive="router-link-active" >Modificar</button>
                </td>
          </tr>

        </tbody>
    </table>
</div>

