.container-fluid{
    display:flex;
    justify-content:space-between;
    align-items:center;
    }

.row {
    padding:20px;
    }
    div{
    text-align:center;
    background-color:#a1b5cb;
    }
 
    
    #nombre{
    font-weight:bold;
    margin-top:30%;
    }
    /*fotoPerfil:uso media query para decir que segun el tamaño de la pantalla haga tal cosa en este caso apartir del ancho min de 576px hacer esto:*/
    @media (min-width:576px){
      #fotodeperfil{
          position:absolute;
          width:15%;
          border-radius:100%;
          box-shadow:3px 3px 3px grey;
          left:44%;
          top:480px;
      }
    }
    @media (max-width:576px){
     #fotodeperfil{
        position:absolute;
        width:27%;
        border-radius:100%;
        box-shadow:3px 3px 3px grey;
            left:38%;
            top:700px;
        }
   }
